// UI and forms elements
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea {
	display: block;
	width: 100%;
	-webkit-appearance: none;
	background: #ffffff;
	color: #000000;
	border: 1px solid $BorderColor;
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 13px;
	transition: $TransitionLink;
	font-family: $Europe;
	line-height: 18px;

	&:focus {
		outline: none;
		border-color: #666666;
	}
	&.error:focus,
	&.error {
		border-color: $ColorRed;
	}

	&::-webkit-input-placeholder {
		color: #b3b3b3;
	}
	&::-moz-placeholder {
		color: #b3b3b3;
	}
	&:-ms-input-placeholder {
		color: #b3b3b3;
	}
	&:-moz-placeholder {
		color: #b3b3b3;
	}

	& + label.error,
	& + div.error,
	& + strong.error,
	& + span.error {
		margin-top: 5px;
	}
}
textarea {
	resize: vertical;
	min-height: 146px;
}
input[type="button"],
button {
	margin-right: 25px;
	background: #ed2324;
	border: none;
	color: #ffffff;
	font-size: 13px;
	line-height: 21px;
	min-height: 60px;
	min-width: 100px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 10px 40px;
	text-decoration: none;
	min-width: 30px;
	display: inline-block;
	transition: $TransitionLink;
	margin-bottom: 10px;

	&:focus {
		outline: none;
	}
	&:active,
	.no-touchevents &:hover {
		background: #ff2021;
	}
}
.btn-default {
	background: #f3f3f3;
	color: #000000;

	&:active,
	.no-touchevents &:hover {
		background: #dedede;
	}
}

.ui-group {
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	float: left;
	

	&.has-error input {
		border-color: $ColorRed;
	}

	label {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		color: #000000;
	}
	label.error,
	div.error,
	strong.error,
	span.error {
		color: $ColorRed;
		font-size: 12px;
		line-height: 16px;
		position: relative;
		padding-top: 6px;
		clear: both;
	}
	textarea {
		width: 100%;
		float: left;
		max-width: 800px;
		display: block;
	}
	select {
		min-width: 150px;
	}
	.selectric {
		min-width: 150px;
	}

	@include tablet {
		min-width: 264px;
		padding-right: 20px;

		&.float-left {
			width: auto;
			float: none;
			vertical-align: top;
			display: inline-block;
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		input[type="number"],
		input[type="search"] {
			width: 100%;
			float: left;
			position: relative;
		}
	}
}

// Checkbox
.ui-checkbox {
	position: relative;

	label {
		display: inline-block;
		margin-right: 10px;
		position: relative;

		input {
			display: none;
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;

			&:checked {
				+ span {
					&::before {
						border-color: $ColorRed;
					}
					&::after {
						opacity: 1;
					}
	    		}
			}
			&[type="radio"] + span {
				&:before {
					border-radius: 100%;
				}
				&:after {
					border-radius: 100%;
				}
			}
		}
		span {
		    display: inline-block;
		    position: relative;
		    cursor: pointer;

			&:before {
				content: '';
				position: relative;
				width: 20px;
				height: 20px;
				display: inline-block;
				background-color: #ffffff;
				border: 1px solid $BorderColor;
				border-radius: 3px;
				cursor: pointer;
				vertical-align: middle;
				transition: $TransitionLink;
				margin-right: 5px;
			}
			&:after {
				position: absolute;
				left: 5px;
				top: 50%;
				margin-top: -5px;
				display: inline-block;
				content: ' ';
				width: 10px;
				height: 10px;
				background: $ColorRed;
				border-radius: 3px;
				opacity: 0;
				transition: $TransitionLink;
			}

		}
	}
}

// Datepicker container
.datepicker_wrapper {
	width: 100%;
	float: left;

	label {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		color: #000000;
	}

	span {
		display: inline-block;
		margin: 0 5px;
		line-height: 40px;
	}
}
.datepicker_container {
	position: relative;
	display: inline-block;
	width: auto;
	width: 70px;
	// max-width: 140px;
	min-width: 135px;
	margin-bottom: 10px;

	input {
		height: 45px;
		line-height: 45px;
		// max-width: 140px;
		width: 135px;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		right: 10px;
		top: 50%;
		margin-top: -10px;
		z-index: 100;
		opacity: 1;
		cursor: pointer;
		@extend .icon-calendar-grey:before;
		transition: $TransitionLink;
		pointer-events: none;
	}
	&:after {
		opacity: 0;
		@extend .icon-calendar-red:before;
	}
	&:active:before,
	.no-touchevents &:hover:before {
		opacity: 0;
	}
	&:active:after,
	.no-touchevents &:hover:after {
		opacity: 1;
	}
}
