@@include('_componenets/page-header.html')


<body >
<div id="wrapper" class="container">
	<div class="body_wrapper">
		@@include('_componenets/header.html')


		<div class="body">
			<aside class="sidebar sidebar-left">
				<div class="sidebar__people sidebar__people-birth">
					<h3>Дни рождения</h3>

					<div class="sidebar__people__list">
						@@for (var i = 0; i < 2; i++) {
						<div class="sidebar__people__user">
							@@include('_modules/_user-card.html')
						</div>

						<div class="sidebar__people__user">
							@@include('_modules/_user-card-2.html')
						</div>
						}
					</div>
				</div>

				<div class="sidebar__people sidebar__people-colleagues">
					<h3>Новые сотрудники</h3>

					<div class="sidebar__people__list">
						@@for (var i = 0; i < 2; i++) {
						<div class="sidebar__people__user">
							@@include('_modules/_user-card.html')
						</div>

						<div class="sidebar__people__user">
							@@include('_modules/_user-card-2.html')
						</div>
						}
					</div>
				</div>
			</aside>


			<div class="body__main">
				<div class="main_slideshow">
					<div class="swiper-container">
					    <div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#" class="main_slideshow__item cover">@@include('_modules/_img.html', {"src":"img/ps_img/slideshow-1","format":"jpg"})</a>
							</div>

							<div class="swiper-slide">
								<a href="#" class="main_slideshow__item cover">@@include('_modules/_img.html', {"src":"img/ps_img/slideshow-2","format":"jpg"})</a>
							</div>
						</div>

						<div class="swiper-pagination"></div>

						<div class="main_slideshow__title">
							<div class="main_slideshow__subtitle">ПОМОЩЬ</div>
							<div class="main_slideshow__maintitle">HR</div>
						</div>
					</div>
				</div>


				<div class="interesting">
					<h2>Самое интересное</h2>

					<div class="interesting__list">
						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-rating"})</div>
							<div class="interesting__item__title">HR-награды Tesli</div>
							<div class="interesting__item__subtitle">Отмечаем лучших сотрудников</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-gift"})</div>
							<div class="interesting__item__title">Конкурсы и акции</div>
							<div class="interesting__item__subtitle">Участвуйте и побеждайте!</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-learning"})</div>
							<div class="interesting__item__title">Программа стажировок для сотрудинков</div>
							<div class="interesting__item__subtitle">Начните успешную карьеру!</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-airplane"})</div>
							<div class="interesting__item__title">Travel-политика</div>
							<div class="interesting__item__subtitle">Путешествуем вместе по всему миру одним дружным коллективом</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-light-bulb"})</div>
							<div class="interesting__item__title">Фабрика идей</div>
							<div class="interesting__item__subtitle">Поделитесь своей идеей</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-microphone"})</div>
							<div class="interesting__item__title">Радио Tesli</div>
							<div class="interesting__item__subtitle">Лучшая музыка в одном месте</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-airplane"})</div>
							<div class="interesting__item__title">Travel-политика</div>
							<div class="interesting__item__subtitle">Путешествуем вместе</div>
						</a>

						<a href="#" class="interesting__item">
							<div class="interesting__item__image">@@include('_modules/_svg-ico.html', {"href": "ico-light-bulb"})</div>
							<div class="interesting__item__title">Фабрика идей</div>
							<div class="interesting__item__subtitle">Поделитесь своей идеей</div>
						</a>
					</div>
				</div>


				<main class="content">
					<div class="news">
						<h2>Новости</h2>

						<div class="news__list">
							@@for (var i = 0; i < 2; i++) {
							<div class="news__item">
								<a href="article.html" class="news__item__link">
									<div class="news__item__image"><div class="news__item__image_inner cover">@@include('_modules/_img.html', {"src":"img/ps_img/news-1","format":"jpg"})</div></div>

									<div class="news__item__title">Сотрудники компании «Тесли» узнали о скрытых преимуществах теплых полов</div>
								</a>

								<div class="news__item__desc">Мы узнали много нового о продукции датского концерна Данфосс, о заводах и процессе производства, а также о том, как правильно рассчитывать и подбирать оборудование.</div>
							</div>

							<div class="news__item">
								<a href="article.html" class="news__item__link">
									<div class="news__item__image"><div class="news__item__image_inner cover">@@include('_modules/_img.html', {"src":"img/ps_img/news-2","format":"jpg"})</div></div>

									<div class="news__item__title">Победа команды «Тесли» в чемпионате по мини-футболу</div>
								</a>

								<div class="news__item__desc">На прошлой неделе завершился IV Чемпионат Костромской области по мини-футболу. Команды собрались со всей области, поэтому турнир выдался тяжелым. Для команды «Тесли» последняя игра с командой «Сбербанк»</div>
							</div>
							}

							<div class="news__item">
								<a href="article.html" class="news__item__link">
									<div class="news__item__image"><div class="news__item__image_inner cover">@@include('_modules/_img.html', {"src":"img/ps_img/news-2","format":"jpg"})</div></div>

									<div class="news__item__title">Победа команды «Тесли» в чемпионате по мини-футболу</div>
								</a>

								<div class="news__item__desc">На прошлой неделе завершился IV Чемпионат Костромской области по мини-футболу. Команды собрались со всей области, поэтому турнир выдался тяжелым. Для команды «Тесли» последняя игра с командой «Сбербанк»</div>
							</div>
						</div>

						<div class="pagination">
							<span class="pagination__item is-current">1</span>
							<a href="#" class="pagination__item">2</a>
							<a href="#" class="pagination__item">3</a>
							<span>...</span>
							<a href="#" class="pagination__item">8</a>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>


	@@include('_componenets/sidebar-right.html')

	@@include('_componenets/chat.html')
</div>


@@include('_componenets/footer.html')
@@include('_componenets/scripts.html')
</body>

</html>
