// FOOTER
.footer {
	width: 100%;
	float: left;
	
	.container {
		padding: 12px 15px;
		background: #fbfbfb;
		border-top: 1px solid #e2e2e2;
	}

	@include tablet {
		.container {
			justify-content: space-between;
			display: flex;
			align-items: center;
		}
	}
}
.footer__developer,
.footer__copyright {
	font-size: 12px;
	line-height: 22px;
	width: 100%;
	text-align: center;

	@include tablet {
		width: auto;
		float: none;
	}
}
.footer__developer a {
	color: #000000;
	font-family: $Europedemi;
}
