// Main slideshow

.main_slideshow {
	width: 100%;
	float: left;

	.swiper-slide {
		width: 100%;
		float: left;
		position: relative;
	}
}
.main_slideshow__item {
	overflow: hidden;
	width: 100%;
	@include aspect-ratio(16, 8.7);

	@include tablet {
		@include aspect-ratio(16, 7.2);
	}
}
.main_slideshow__title {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: 100;
	text-align: center;

	@include hd {
		left: 53px;
		bottom: 60px;
	}
}
.main_slideshow__subtitle {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
	color: #000000;
	font-family: $Europedemi;

	@include hd {
		font-size: 24px;
		line-height: 30px;
	}
}
.main_slideshow__maintitle {
	color: $ColorRed;
	font-size: 60px;
	line-height: 50px;
	font-family: $Europedemi;

	@include hd {
		font-size: 90px;
		line-height: 80px;
	}
}
