// Page 404
.page-404 {
	height: 100%;
	min-height: calc(100vh - 66px - 48px - 50px);
	align-content: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	@include desktop {
		min-height: calc(100vh - 96px - 48px - 50px);
	}
}
.page404__title {
	font-family: $Europedemi;
	color: $ColorRed;
	width: 100%;
	float: left;
	font-size: 50px;
	line-height: 10px;
	text-align: center;

	@include tablet {
		font-size: 170px;
		line-height: 120px;
	}
}
.page404__desc {
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.page404__link {
	font-size: 16px;
	color: $ColorRed;

	&:hover,
	&:focus {
		color: $ColorRed;
	}
	.content &:before {
		background: $ColorRed !important;
	}
}
