
/* Main styles */
*:before,
*:after,
* {
    box-sizing: border-box;
}
html, body {
	width: 100%;
    min-height: 100%;
	height: auto;
	float: left;
}
body {
	position: relative;
	font-family: $Europe;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	background: #ffffff;
	padding-top: 52px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	min-height: 100vh;
	max-height: 100%;
	overflow: auto;

	&.is-overflow {
		overflow: hidden;
	}

	@include tablet {
		padding: 0;
	}
}

#wrapper {
	width: 100%;
	float: left;
	display: flex;
	flex: 1;
	position: relative;

	&>.container {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		align-content: flex-start;
		flex-direction: column;

		@include wide {
			flex-wrap: wrap;
			flex-direction: initial;
		}
	}
}
.wrapper {
	width: 100%;
	float: left;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	padding: 0;
	margin: 0 auto;
}

a {
	color: $ColorLink;
	text-decoration: none;
	transition: $TransitionLink;
	position: relative;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
	&:active,
	.no-touchevents &:hover {
		color: $ColorLinkHover;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}

	.content & {
		display: inline-block;
	}
	.content &:before {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		bottom: 0;
		right: 0;
		position: absolute;
		background: #999999;
		transition: $TransitionLink;
		border: none;
	}
	.content &:hover:before,
	.content &:focus:before {
		width: 100%;
		background: #999999;
	}
	.content &:active:before,
	.no-touchevents .content &:hover:before {
		width: 0;
		background: $ColorLinkHover;
	}
}


h1 {
	font-size: 28px;
	line-height: 34px;
	margin: 0 0 25px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Europedemi;
}
h2 {
	font-size: 22px;
	line-height: 30px;
	margin: 0 0 15px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Europedemi;
}
h3 {
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 15px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Europedemi;
}

small {
	color: #929292;
	font-size: 12px;
	line-height: 18px;
}

hr {
	width: 100%;
	float: left;
	margin: 15px 0;
	display: block;
	clear: both;
	border: none;
	height: 1px;
	background: #e2e2e2;
}

blockquote {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	padding: 0 0 0 15px;
	margin: 15px 0 15px 15px;
	border-left: 2px solid $ColorRed;
	clear: both;
}

ol,
ul {
	margin: 15px 0 30px 0;
	padding: 0 0 0 25px;
	list-style: none;

	li {
		margin: 8px 0;
		position: relative;
	}
}
ol {
	counter-reset: li;
	list-style: none;

	li {
		counter-increment: li;

		&:before {
			content: counter(li);
			display: block;
			position: absolute;
			left: -20px;
			color: $ColorRed;
		}
	}
}
ul {
	li {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -20px;
			top: 8px;
			border-radius: 100%;
			width: 5px;
			height: 5px;
			background: $ColorRed;
		}
	}
}


/**************************************************************************
Misc styles
/**************************************************************************/
.bundle {
	display: inline-block;
	border-radius: 100%;
	min-width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #ffffff;
	background: $ColorRed;
	font-family: $Europedemi;
	font-size: 10px;
	margin-left: 8px;

	&.bundle-red {
		background: $ColorRed;
	}
}

.contain,
.cover {
	position: relative;
	
	&:after {
		position: absolute;
		content: '';
		// font-family: $Fontawesome;
		background: url('../img/loader.svg') center no-repeat;
		background-size: contain;
		font-size: 20px;
		line-height: 20px;
		display: block;
		left: 50%;
		top: 50%;
		margin: -10px 0 0 -10px;
		width: 20px;
		height: 20px;
		opacity: 0.7;
		text-align: center;
		// color: #171717;
		animation: rotate 1.5s linear infinite;
		transform-origin: 50%;
	}
	&.is-loaded:after {
		display: none;
	}

	&>img,
	&>img {
		display: none;
	}
}

.is-loading {
	&:after {
		position: absolute;
		content: '';
		// font-family: $Fontawesome;
		background: url('../img/loader.svg') center no-repeat;
		background-size: contain;
		font-size: 20px;
		line-height: 20px;
		display: block;
		left: 50%;
		top: 50%;
		margin: -10px 0 0 -10px;
		width: 20px;
		height: 20px;
		opacity: 0.7;
		text-align: center;
		// color: #171717;
		animation: rotate 1.5s linear infinite;
		transform-origin: 50%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.swiper-pagination {
	text-align: right;
	padding: 0 10px;
	bottom: 10px;
	margin: 0;
}
.swiper-pagination-bullet {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background: #ffffff;
	opacity: 0.5;
	margin: 0;
	display: inline-block;
	transition: $TransitionLink;
}
.swiper-pagination-bullet-active {
	opacity: 1;
}


.mCustomScrollbar {
	.mCSB_scrollTools {
		opacity: 1;
	}
	.no-touchevents &:hover .mCSB_scrollTools {
		opacity: 1;
	}
}
.mCSB_dragger_bar {
	width: 6px;
	border-radius: 3px;
	background: $ColorGreen !important;
	padding: 0;
}
.mCSB_draggerRail {
	background: none !important;
}
/**************************************************************************
END Misc styles
/**************************************************************************/







// HEADER
.header {
	width: 100%;
	float: left;

	@include tablet {
		&>.container {
			position: relative;
		}
	}
	@include wide {
		height: auto;
	}
}
.header__top {
	width: 100%;
	float: left;

	@include tablet {
		height: 66px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 1px solid #e2e2e2;
	}
	@include wide {
		height: 96px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.header__top__head {
	width: 100%;
	height: 52px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffffff;
	border-bottom: 1px solid #e2e2e2;

	@include tablet {
		display: flex;
		width: auto;
		position: relative;
		height: auto;
		border: none;
	}
}
.header__top__hamburger {
	float: left;
	width: 46px;
	height: 52px;
	position: relative;
	top: 0;
	margin-right: 10px;
	opacity: 1;
	transition: $TransitionObject;

	.hamburger {
		width: 46px;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
		text-align: center;
		position: relative;
	}
	.hamburger-box {
		top: 0;
		left: 0;
		vertical-align: top;
		width: 26px;
		height: 52px;
	}
	.hamburger-inner:after,
	.hamburger-inner:before,
	.hamburger-inner {
		width: 26px;
		height: 2px;
		background-color: $ColorRed;
	}
	.hamburger-inner:before {
		top: -8px;
	}
	.hamburger-inner:after {
		bottom: -8px;
	}

	.header__top.is-active & {
		opacity: 0;
		pointer-events: none;
	}
	.header__top.is-active &.is-active {
		opacity: 1;
		pointer-events: auto;
	}

	@include tablet {
		display: none;
	}
}
.header__top__hamburger__title {
	display: block;
	float: left;
	position: absolute;
	top: -50px;
	left: 50px;
	font-family: $Europedemi;
	font-size: 18px;
	line-height: 30px;
	transition: $TransitionObject;
	opacity: 0;

	.hamburger.is-active & {
		opacity: 1;
		top: 11px;
	}
}
.header__menu {
	position: fixed;
	width: 100%;
	left: 0;
	background: #ffffff;
	z-index: 900;
	height: calc(100% - 52px);
	overflow-y: auto;
	padding: 10px 0;
	top: -100%;
	opacity: 0;
	visibility: hidden;
	transition: $TransitionObject;

	&.is-active {
		top: 52px;
		opacity: 1;
		visibility: visible;
	}

	@include tablet {
		transition: none;
		top: 0;
		padding: 0;
		position: relative;
		height: auto;
		overflow: visible;
		visibility: visible;
		opacity: 1;
		display: flex;
		justify-content: space-between;
		background: #fbfbfb;
		border-left: 1px solid #e2e2e2;
		border-right: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
	}
	@include desktop {
		justify-content: flex-end;
	}
	@include wide {
		border-right: 1px solid #e2e2e2;
	}
}
.header__menu__item {
	width: 100%;
	float: left;

	@include tablet {
		width: auto;
		position: relative;
	}
}
.header__menu__link {
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000000;
	display: block;
	width: 100%;
	float: left;
	padding: 13px 14px;
	position: relative;

	span {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.header__menu__item-school & {
		font-family: $Europedemi;
		color: $ColorRed;
		cursor: pointer;

		i {
			display: inline-block;
			width: 17px;
			height: 17px;
			background: url('../img/logo-school.png') center no-repeat;
			vertical-align: middle;
			margin-right: 5px;
		}
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		color: #828282;
		height: 14px;
		width: 8px;
		position: relative;
		margin-left: 5px;
	}

	@include tablet {
		padding: 0 10px;
		height: 56px;
		display: flex;
		align-items: center;

		.header__menu__item.is-parent &:after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: $ColorRed;
			content: '';
			display: block;
			opacity: 0;
			transition: $TransitionObject;
		}

		.header__menu__item.is-parent.is-hover & {
			color: $ColorRed;

			&:after {
				opacity: 1;
			}
		}

		svg {
			display: none;
		}
	}
	@include desktop {
		padding: 0 20px;
	}
}
.header__menu__submenu {
	right: -100%;
	top: 52px;
	position: fixed;
	z-index: 1010;
	width: 100%;
	height: calc(100% - 52px);
	background: #ffffff;
	transition: $TransitionObject;
	overflow-y: auto;

	&.is-active {
		right: 0;
	}

	.header__menu__link {
		border-bottom: 1px solid #e2e2e2;
		padding-left: 30px;

		svg {
			position: absolute;
			left: 5px;
			top: 50%;
			margin-top: -8px;
			transform: rotateY(-180deg);
		}
	}

	@include tablet {
		position: absolute;
		top: 100%;
		right: auto;
		left: 0;
		width: auto;
		display: flex;
		height: auto;
		overflow: visible;
		box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.09);
		padding: 30px 0;
		z-index: -1;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		transition: $TransitionLink;

		.header__menu__item.is-hover & {
			opacity: 1;
			visibility: visible;
			z-index: 900;
			pointer-events: auto;
		}

		.header__menu__link {
			display: none;
		}

		.header__menu__item:last-child & {
			left: auto;
			right: -1px;
		}
	}
}
.header__menu__submenu_school__faculties {
	width: 100%;
	float: left;

	@include tablet {
		width: auto;
		float: left;
		padding: 0 25px;
	}
}
.header__menu__submenu_school__faculties__title {
	color: $ColorRed;
	font-size: 16px;
	line-height: 20px;
	padding: 20px 14px 10px 14px;

	@include tablet {
		padding: 0 0 10px 0;
	}
}
.header__menu__submenu_school__faculties__list {
	width: 100%;
	float: left;
}
.header__menu__submenu_school__faculties__link {
	width: 100%;
	float: left;
	padding: 8px 14px;
	font-size: 14px;
	line-height: 18px;
	color: #000000;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	&:before {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		content: '';
		border-radius: 100%;
		width: 14px;
		height: 14px;
		text-align: center;
		line-height: 15px;
		font-size: 8px;
		color: #ffffff;
		background: #cacaca;
		font-family: $Europedemi;
	}

	@include tablet {
		padding: 8px 0;
		white-space: nowrap;
	}
}
.header__menu__submenu_school__faculties__link-1:before {
	content: '1';
	background-color: #b62536;
}
.header__menu__submenu_school__faculties__link-2:before {
	content: '2';
	background-color: #b53724;
}
.header__menu__submenu_school__faculties__link-3:before {
	content: '3';
	background-color: #eb792e;
}
.header__menu__submenu_school__faculties__link-4:before {
	content: '4';
	background-color: #e6b428;
}
.header__menu__submenu_school__faculties__link-5:before {
	content: '5';
	background-color: #8cb425;
}
.header__menu__submenu_school__faculties__link-6:before {
	content: '6';
	background-color: #3eab41;
}
.header__menu__submenu_school__faculties__link-7:before {
	content: '7';
	background-color: #2cb3a5;
}
.header__menu__submenu_school__faculties__link-8:before {
	content: '8';
	background-color: #2690b5;
}
.header__menu__submenu_school__faculties__link-9:before {
	content: '9';
	background-color: #51338a;
}
.header__menu__submenu_school__menu {
	width: 100%;
	float: left;
	padding: 10px 0;

	@include tablet {
		min-width: 200px;
		padding: 0 30px;
		border-left: 1px solid #e2e2e2;
	}
}
.header__menu__submenu_school__menu__link {
	width: 100%;
	float: left;
	padding: 8px 14px;
	font-size: 16px;
	line-height: 20px;
	color: #000000;

	@include tablet {
		padding: 8px 0;
	}
}

.header__top__logo {
	@include tablet {
		float: left;
		display: flex;
		align-items: center;
	}
}
.header__logo {
	top: 12px;
	position: relative;
	width: 120px;
	height: 28px;
	display: inline-block;
	background: url('../img/logo.png') center no-repeat;
	background-size: contain;
	transition: opacity 0.3s linear;
	opacity: 1;

	&:after {
		display: none;
	}
	
	@include mobileMax {
		.header__top.is-active & {
			opacity: 0;
			pointer-events: none;
		}
	}
	@include tablet {
		top: 0;
		background-size: auto;
		width: 180px;
		height: 38px;
		margin-top: 0;
		margin-left: 34px;
	}
	@include desktop {
		margin-left: 34px;
	}
}

.header__top__search {
	width: 100%;
	float: left;
	height: 46px;
	padding: 8px 10px;
	background: #ffffff;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
	transition: $TransitionObject;

	form {
		width: 100%;
	}

	@include tablet {
		top: 0;
		max-width: calc(100% - 310px);
		height: 38px;
		margin-left: 30px;
		padding: 0;
	}
	@include wide {
		max-width: calc(100% - 480px);
		margin-left: 87px;
	}
	@include hd {
		margin-left: 87px;
	}
}
input.header__top__search__inputbox {
	width: calc(100% - 30px);
	border: none;
	float: left;
	display: block;
	border: none;
	vertical-align: top;
	background: none;
	height: 30px;
	font-size: 12px;
	padding: 0;
	line-height: 30px;
	padding-left: 10px;
	border-radius: 0;
	transition: $TransitionLink;
	border-top: 1px solid transparent;

	&:focus {
		border-color: #e2e2e2;
	}

	@include tablet {
		float: left;
		width: calc(100% - 38px);
		padding: 0;
		height: 38px;
		line-height: 38px;
	}
}
button.header__top__search__btn-submit {
	width: 20px;
	height: 20px;
	min-width: 0;
	min-height: 0;
	top: 5px;
	position: relative;
	padding: 0;
	cursor: pointer;
	display: block;
	float: right;
	background: none;
	border: none;

	svg {
		color: #909090;
		width: 20px;
		height: 20px;
		display: block;
		transition: $TransitionLink;
	}
	&:active,
	.no-touchevents &:hover {
		background: none;

		svg {
			color: $ColorRed;
		}
	}

	@include tablet {
		top: 0;
		width: 38px;
		height: 38px;
		line-height: 38px;

		svg {
			margin: auto;
		}
	}
}

.header__top__online {
	display: none;
	font-size: 12px;
	line-height: 16px;
	font-family: $Europedemi;

	@include wide {
		display: block;
		text-align: right;
		float: right;
		width: 160px;
		padding-right: 20px;
		white-space: nowrap;
	}
}

.body_wrapper {
	width: 100%;
	height: 100%;
	float: left;

	@include tablet {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
	    align-content: stretch;
		justify-content: flex-start;
	}
	@include wide {
		min-width: 100px;
		max-width: 100%;
		flex: 1;
	}
}
.body {
	float: left;
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;

	@include desktop {

	}
	@include wide {
		align-content: flex-start;
		align-items: flex-start;
	}
}

.sidebar-left {
	order: 1;
	float: left;
	width: 100%;
	padding-bottom: 20px;

	@include desktop {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		order: 0;
		width: 260px;
		min-width: 260px;
		max-width: 260px;
	}
	@include hd {
		width: 300px;
		min-width: 300px;
		max-width: 300px;
	}
}
.body__main {
	width: 100%;
	float: left;
	order: 0;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 30px;

	@include tablet {
		border-left: 1px solid #e2e2e2;
		border-right: 1px solid #e2e2e2;
	}
	@include tablet {
		min-width: 100px;
		max-width: 100%;
		flex: 1;
	}

	@include desktop {
		order: 1;
	}
	@include wide {
		height: 100%;
	}
	@include hd {
		&:after, &:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 3px;
			height: 120px;
			background: #ffffff;
			z-index: 1000;
		}
		&:after {
			right: -2px;
		}
		&:before {
			left: -2px;
		}
	}
}
.content {
	width: 100%;
	float: left;
	padding: 20px 10px 0 10px;

	img {
		border: none;
		float: left;
		max-width: 100%;

		&.float-left {
			float: left;
			margin: 5px 20px 10px 0;
		}
	}

	p {
		margin-top: 0;
	}
	
	@include desktop {
		padding: 20px 20px 0 20px;
	}
	@include hd {
		padding: 20px 30px 0 30px;
	}
}

.sidebar-right {
	@include wide {
		padding-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		width: 300px;
		min-width: 300px;
		max-width: 300px;
		flex: 1;
	}
	@include hd {
		width: 330px;
		min-width: 330px;
		max-width: 330px;
	}
}


.main_slideshow {
	width: 100%;
	float: left;
}
.main_slideshow__item {
	@include aspect-ratio(16, 9);
}
.main_slideshow__title {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: 100;
	text-align: center;

	@include hd {
		left: 60px;
		bottom: 60px;
	}
}
.main_slideshow__subtitle {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
	color: #000000;
	font-family: $Europedemi;

	@include hd {
		font-size: 24px;
		line-height: 30px;
	}
}
.main_slideshow__maintitle {
	color: $ColorRed;
	font-size: 60px;
	line-height: 50px;
	font-family: $Europedemi;

	@include hd {
		font-size: 90px;
		line-height: 80px;
	}
}


.interesting {
	width: 100%;
	float: left;
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 10px;

	h2 {
		margin: 10px 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #e2e2e2;
	}

	@include tablet {
		border-bottom: none;

		h2 {
			padding-bottom: 15px;
			margin-bottom: 0;
		}
	}
	@include desktop {
		padding: 20px 20px;
	}
	@include hd {
		padding: 20px 30px;
	}
}
.interesting__list {
	width: 100%;
	float: left;

	@include tablet {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom: 1px solid #e2e2e2;
	}
}
.interesting__item {
	width: 100%;
	float: left;
	display: block;
	padding: 10px 0;
	color: #000000;

	@include tablet {
		align-content: center;
		width: calc(100% / 3);
		height: 160px;
		position: relative;
		border-bottom: 1px solid #e2e2e2;
		padding: 20px 30px 10px 30px;
		
		&:after {
			width: 1px;
			background: #e2e2e2;
			position: absolute;
			left: 0;
			top: 15%;
			height: 70%;
			content: '';
			display: block;
		}

		&:nth-last-of-type(3),
		&:nth-last-of-type(2),
		&:nth-last-of-type(1),
		&:last-child {
			border-bottom: none;
		}
		&:nth-child(3n):not(:last-child) {
			padding-right: 0;
			border-bottom: 1px solid #e2e2e2;
		}
		&:nth-child(3n) {
			padding-right: 0;
		}
		&:nth-child(1),
		&:nth-child(3n+1) {
			padding-left: 0;

			&:after {
				display: none;
			}
		}
	}
	@include desktop {
		padding: 30px 10px 10px 20px;
	}
	@include wide {
		height: 180px;
		padding: 30px 5px 5px 15px;
	}
	@include hd {
		height: 160px;
		padding: 30px 20px 20px 40px;
	}
}
.interesting__item__image {
	float: left;
	width: 44px;
	height: 44px;
	text-align: center;

	svg {
		color: #F00;
		width: 44px;
		height: 40px;
		font-size: 30px;
	}

	@include tablet {
		width: 100%;
		float: left;
		height: 50px;
		text-align: left;
		margin-bottom: 10px;

		svg {
			width: 50px;
			height: 50px;
		}
	}
}
.interesting__item__title {
	margin-left: 60px;
	font-size: 16px;
	line-height: 20px;
	font-family: $Europedemi;
	font-weight: 400;

	@include tablet {
		margin: 0;
	}
	@include wide {
		font-size: 14px;
	}
	@include hd {
		font-size: 16px;
	}
}
.interesting__item__subtitle {
	margin-left: 60px;
	font-size: 12px;
	line-height: 16px;
	color: #818181;

	@include tablet {
		margin: 0;
	}
}


.main_user {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1010;
	opacity: 1;
	width: 100%;
	max-width: 55px;
	height: 9999px;
	max-height: 51px;
	transition: $TransitionObject;

	&.is-hidden {
		opacity: 0;
	}
	&.is-active {
		max-height: 100%;
		opacity: 1;
		max-width: 100%;
	}

	@include tablet {
		background: #ffffff;
		max-height: 65px;
		// right: 50%;
		position: absolute;
		// margin-right: - (760px / 2);
		overflow: hidden;

		&.is-active {
			max-height: 100vh;
			max-width: 300px;
			box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.09);
		}
	}
	@include desktop {
		// margin-right: - (980px / 2);
	}
	@include wide {
		overflow: visible;
		opacity: 1;
		z-index: 10;
		height: auto;
		right: 0;
		margin: 0;
		max-height: 100%;
		position: relative;
		transition: none;
		max-width: 100%;
		padding: 0 20px;
		border-bottom: 1px solid #e2e2e2;
	}
	@include hd {
		padding: 0 30px;
	}
}
.main_user__head {
	width: 100%;
	height: 51px;
	max-width: 55px;
	padding: 8px 10px 0 10px;
	transition: $TransitionObject;
	background: #ffffff;
	z-index: 500;
	position: relative;

	.main_user.is-active & {
		max-width: 100%;
	}

	@include tablet {
		padding-top: 15px;
		height: 65px;

		.main_user.is-active & {
			max-width: 300px;
		}
	}
	@include wide {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		float: left;
		border-bottom: 1px solid #e2e2e2;
		height: 96px;
		max-width: 768px;
		padding: 0 40px 0 0;
		transition: none;
	}
}
.main_user__head__photo {
	cursor: pointer;
	float: left;

	@include wide {
		cursor: default;
	}
}
.main_user__head__photo__img  {
	width: 35px;
	height: 35px;
	border-radius: 100%;

	@include wide {
		width: 50px;
		height: 50px;
	}
}
.main_user__head__info {
	opacity: 0;
	position: relative;
	margin-left: 50px;
	left: 100px;
	visibility: hidden;
	transition: $TransitionObject;

	.main_user.is-active & {
		opacity: 1;
		left: 0;
		visibility: visible;
	}

	@include wide {
		width: auto;
		opacity: 1;
		left: 0;
		visibility: visible;
		transition: none;
		margin-left: 12px;
	}
}
.main_user__head__name {
	font-size: 14px;
	line-height: 20px;
	font-family: $Europedemi;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	@include wide {
		white-space: normal;
	}
}
.main_user__head__post {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	@include wide {
		white-space: normal;
	}
}
.main_user__hamburger {
	position: absolute;
	right: -300px;
	top: 0;
	opacity: 0;
	transition: $TransitionObject;

	.main_user.is-active & {
		opacity: 1;
		right: 0;
	}

	.hamburger {
		width: 46px;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
		text-align: center;
		position: relative;
	}
	.hamburger-box {
		top: 0;
		left: 0;
		vertical-align: top;
		width: 26px;
		height: 51px;
	}
	.hamburger-inner:after,
	.hamburger-inner:before,
	.hamburger-inner {
		width: 26px;
		height: 2px;
		background-color: $ColorRed;
	}
	.hamburger-inner:before {
		top: -8px;
	}
	.hamburger-inner:after {
		bottom: -8px;
	}

	@include tablet {
		.hamburger-box {
			height: 66px;
		}
	}
	@include wide {
		display: none;
	}
}
.main_user__inner {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 51px;
	height: calc(100% - 52px);
	width: 100%;
	right: -100%;
	transition: $TransitionObject;
	overflow-y: auto;
	padding: 10px 14px 20px 14px;
	background: #ffffff;

	.main_user.is-active & {
		opacity: 1;
		right: 0;
		visibility: visible;
	}

	@include tablet {
		position: absolute;
		right: -300px;
		top: 66px;
		height: calc(100vh - 66px);
		width: 300px;
		max-width: 300px;
		background: none;

		.main_user.is-active & {
			max-width: 300px;
			top: 66px;
			visibility: visible;
			opacity: 1;
		}
	}
	@include wide {
		overflow: visible;
		top: 0;
		opacity: 1;
		right: 0;
		height: auto;
		width: 100%;
		max-width: 100%;
		visibility: visible;
		position: relative;
		padding: 0;
		transition: none;
	}
}
.main_user__menu {
	width: 100%;
	float: left;

	@include wide {
		padding: 12px 0;
		column-count: 2;
		column-gap: 10px;
	}
}
.main_user__menu__link {
	width: 100%;
	float: left;
	display: block;
	padding: 8px 0;
	font-size: 14px;
	line-height: 20px;
	color: #000000;

	@include wide {
		display: inline-block;
		vertical-align: top;
		float: none;
	}
}
.main_user__other {
	width: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px 0;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin: 20px 0;

	@include wide {
		border-bottom: none;
		margin: 0;
	}
}
.main_user__other__item {
	float: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 50px;
}
.main_user__other__link {
	display: block;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #000000;
	font-size: 12px;
	line-height: 18px;
}
.main_user__other__link__image {
	height: 32px;
	width: 100%;
	float: left;
	text-align: center;
}
.main_user__btn-logout {
	opacity: 0;
	display: block;
	float: left;
	color: #000000;
	margin-top: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	transition: $TransitionObject;
	
	span {
		margin-right: 10px;
	}
	svg {
		width: 15px;
		height: 15px;
		color: #cbcdcf;
		transition: $TransitionLink;
	}
	.main_user.is-active & {
		opacity: 1;
	}
	&:active,
	.no-touchevents &:hover {
		svg {
			color: $ColorRed;
		}
	}

	@include wide {
		position: absolute;
		right: 10px;
		top: 36px;
		opacity: 1;
		margin: 0;
		z-index: 600;

		span {
			display: none;
		}
	}
}


.sidebar__banner_slideshow {
	display: none;
	width: 100%;
	float: left;

	@include wide {
		display: block;
		padding: 20px;
	}
	@include hd {
		padding: 30px;
	}
	
	.swiper-slide {
		width: 100%;

		a {
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	.swiper-pagination {
		text-align: right;
		padding-right: 10px;
	}
	.swiper-pagination-bullet {
		height: 6px;
		width: 6px;
	}
}


.news {
	width: 100%;
	float: left;

	@include tablet {
		h2 {
			padding-bottom: 15px;
			border-bottom: 1px solid #e2e2e2;
		}
	}
}
.news__list {
	width: 100%;
	float: left;
}
.news__item {
	width: 100%;
	float: left;
	margin-top: 25px;

	&:first-child {
		margin-top: 0;
	}
}
a.news__item__link {
	color: #000000;
	display: initial;

	@include disableAfter;
}
.news__item__image {
	@include tablet {
		float: left;
		width: 240px;
	}
}
.news__item__image_inner {
	@include aspect-ratio(16, 9);
}
.news__item__title {
	width: 100%;
	float: left;
	font-size: 17px;
	line-height: 20px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-family: $Europedemi;

	@include tablet {
		width: auto;
		float: none;
		margin-left: 265px;
		padding-top: 0;
	}
}
.news__item__desc {
	font-size: 14px;
	line-height: 21px;
	color: #000000;

	@include tablet {
		width: auto;
		float: none;
		margin-left: 265px;
	}
}

.pagination {
	margin-top: 20px;
	width: 100%;
	float: left;
	border-top: 1px solid #e2e2e2;
	padding: 0;
	text-align: center;

	@include tablet {
		text-align: right;
	}
}
.pagination__item {
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	width: 36px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000000;
	font-family: $Europedemi;

	&.is-current {
		color: $ColorRed;
	}

	@include disableAfter;
}






.sidebar__people {
	width: 100%;
	float: left;
	padding: 30px 10px;
	border-top: 1px solid #e2e2e2;

	@include tablet {
		border-top: none;
		padding: 15px 10px;
		margin-top: 15px;
		
		h3 {
			border-bottom: 1px solid #e2e2e2;
			padding-bottom: 10px;
		}
	}
	@include desktop {
		&.sidebar__people-birth {
			border-bottom: 1px solid #e2e2e2;
		}
	}
	@include hd {
		padding: 15px 30px;
	}
}
.sidebar__people__list {
	width: 100%;
	float: left;
}
.sidebar__people__user {
	width: 100%;
	float: left;
	margin-top: 20px;

	&:first-child {
		margin-top: 0;
	}

	@include tabletMax {
		width: 50%;
		margin-top: 20px;

		&:nth-child(2),
		&:first-child {
			margin-top: 0;
		}
	}
}
.user_card {
	float: left;

	@include disableAfter;
}
.user_card__photo {
	width: 55px;
	float: left;
}
.user_card__photo__img {
	border-radius: 100%;
	width: 55px;
	height: 55px;
}
.user_card__info {
	margin-left: 70px;
}
.user_card__date {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.user_card__name {
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	font-family: $Europedemi;
	transition: $TransitionLink;

	.user_card:active &,
	.no-touchevents .user_card:hover & {
		color: $ColorRed;
	}
}
.user_card__post {
	font-size: 12px;
	line-height: 18px;
	color: #818181;
}


.footer {
	margin: auto auto 0 auto;
	padding: 12px 0;
	background: #fbfbfb;
	border-top: 1px solid #e2e2e2;

	@include tablet {
		.container {
			padding: 0 15px;
			justify-content: space-between;
			display: flex;
			align-items: center;
		}
	}
}
.footer__developer,
.footer__copyright {
	font-size: 12px;
	line-height: 22px;
	width: 100%;
	float: left;
	text-align: center;

	@include tablet {
		width: auto;
		float: none;
	}
}
.footer__developer a {
	color: #000000;
	font-family: $Europedemi;
}
// END HEADER




.page-404 {
	.header__top__head {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.header__logo {
		margin: auto;
	}
	.body__main {
		height: 100%;
	}
	.content {
		height: 100%;
		max-width: 100%;
		align-content: center;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
}
.page404 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.page404__title {
	font-family: $Europedemi;
	color: $ColorRed;
	width: 100%;
	float: left;
	font-size: 50px;
	line-height: 10px;
	text-align: center;

	@include tablet {
		font-size: 170px;
		line-height: 120px;
	}
}
.page404__desc {
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.page404__link {
	font-size: 16px;
	color: $ColorRed;
	
	&:hover,
	&:focus {
		color: $ColorRed;
	}
	.content &:before {
		background: $ColorRed !important;
	}
}


.media_card {
	width: 100%;
	float: left;
	margin: 10px 0;
}
.media_card__link {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	@include aspect-ratio(16, 9);
	@include disableAfter;
}
.media_card__link__btn-play {
	display: block;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	color: #ffffff;
	background: rgba($ColorRed,.5);
	text-align: center;
	line-height: 120px;
	margin: -60px 0 0 -60px;
	transition: $TransitionObject;

	svg {
		width: 50px;
		height: 50px;
	}

	@include mobileMax {
		width: 80px;
		height: 80px;
		margin: -40px 0 0 -40px;
		line-height: 80px;

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.media_card__link:active &,
	.no-touchevents .media_card__link:hover & {
		background: $ColorRed;
		transform: scale(1.1);
	}
}
.media_card__bottom {
	width: 100%;
	padding: 10px 0;
	float: left;
}
.media_card__info {
	float: left;

	div {
		color: #000000;
		font-size: 12px;
		line-height: 18px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;

		span {
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			line-height: 18px;
			vertical-align: middle;
			color: $ColorRed;
			height: 18px;
			width: 18px;
			margin-right: 5px;
		}
	}
}
.media_card__options {
	float: right;

	a {
		color: #000000;
		font-size: 12px;
		line-height: 18px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;

		@include disableAfter;

		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;

			&:before {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				bottom: -2px;
				right: 0;
				position: absolute;
				background: #666666;
				transition: $TransitionLink;
				border: none;
			}
		}
		&:active span:before,
		.no-touchevents &:hover  span:before {
			width: 0;
			background: $ColorLinkHover;
		}

		svg {
			line-height: 18px;
			vertical-align: middle;
			color: #cecece;
			height: 18px;
			width: 18px;
			margin-right: 5px;
		}

		&.is-active svg {
			color: $ColorRed;
		}
	}
}


.pathway {
	width: 100%;
	padding: 20px 10px 0 10px;

	@include desktop {
		padding: 20px 20px 0 20px;
	}
	@include hd {
		padding: 20px 30px 0 30px;
	}
}
.pathway__item {
	font-size: 12px;
	color: #000000;
	position: relative;
}
span.pathway__item {
	color: #9a9b9c;
}
a.pathway__item {
	&:after {
		content: '-';
		display: inline-block;
		margin: 0 5px 0 7px;
	}
	&:active:after,
	.no-touchevents &:hover:after {
		color: #000000;
	}
}



.user {
	width: 100%;
	float: left;
}
.user__media {
	float: left;
	width: 100%;

	@include tablet {
		width: 310px;
	}
}
.user__photo {
	width: 100%;
	float: left;
	display: block;
	margin-bottom: 20px;
	@include disableAfter;
}
.user__achievements {
	width: 100%;
	float: left;

	.swiper-next,
	.swiper-prev {
		position: absolute;
		top: 50%;
		width: 26px;
		height: 26px;
		margin-top: -18px;
		color: #d0d0d0;
		cursor: pointer;
		z-index: 100;
		transition: $TransitionLink;

		&:active,
		.no-touchevents &:hover {
			color: $ColorRed;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
	.swiper-next {
		right: -5px;
	}
	.swiper-prev {
		left: 0;

		svg {
			transform: rotateY(180deg);
		}
	}
}
.user__achievements__item {
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.user__achievements__item__image {
	position: relative;
	width: 44px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;

	&:before {
		@extend .icon-achievement;
		position: absolute;
		left: 0;
		top: 0;
	}

	img {
		position: relative;
		z-index: 10;
	}
}
.user__achievements__item__title {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 9px;
	text-transform: uppercase;
	color: #000000;
	line-height: 13px;
	font-family: $Europedemi;
}

.user__content {
	width: 100%;
	float: left;
	position: relative;
	overflow: auto;

	@include tablet {
		float: none;
		width: auto;
		margin-left: 330px;
		vertical-align: top;
	}
}
.user__head {
	width: 100%;
	float: left;

	h1 {
		margin: 20px 0 5px 0;
	}

	@include tablet {
		h1 {
			margin-top: 0;
		}
	}
}
.user__head__post {
	color: #818181;
}
.user__head__online {
	font-size: 12px;
	color: #818181;
}

.user__info {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user__info__block {
	width: 100%;
	float: left;
	margin-top: 15px;

	@include tablet {
		width: 240px;
		display: inline-block;
		margin-right: 10px;
	}
}
.user__info__block__title {
	color: #818181;
	font-size: 12px;
	line-height: 18px;
}
.user__info__block__value {
	svg {
		max-height: 16px;
		max-width: 18px;
		color: $ColorRed;
		margin-right: 5px;
	}
}

.user__groups {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user__groups__block {
	width: 100%;
	float: left;
	margin-top: 15px;

	@include tablet {
		width: auto;
		display: inline-block;
		margin-right: 30px;
	}
}
.user__groups__block__title {
	color: #818181;
	font-size: 12px;
	line-height: 18px;
}

.user__context__block {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
}









