// Page User

.page-user {
	max-width: 100%;
}
.user__media {
	float: left;
	width: 100%;
	text-align: center;

	@include tablet {
		width: 310px;
	}
}
.user__photo {
	width: 100%;
	display: block;
	float: none;
	margin-bottom: 20px;
	max-width: 400px;
	margin: 0 auto;
	@include disableAfter;
}
.user__achievements {
	width: 100%;
	float: left;

	.swiper-next,
	.swiper-prev {
		position: absolute;
		top: 50%;
		width: 26px;
		height: 26px;
		margin-top: -18px;
		color: #d0d0d0;
		cursor: pointer;
		z-index: 100;
		transition: $TransitionLink;

		&:active,
		.no-touchevents &:hover {
			color: $ColorRed;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
	.swiper-next {
		right: -5px;
	}
	.swiper-prev {
		left: 0;

		svg {
			transform: rotateY(180deg);
		}
	}
}
.user__achievements__item {
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.user__achievements__item__image {
	position: relative;
	width: 44px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;

	&:before {
		@extend .icon-achievement;
		position: absolute;
		left: 0;
		top: 0;
	}

	img {
		position: relative;
		z-index: 10;
	}
}
.user__achievements__item__title {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 9px;
	text-transform: uppercase;
	color: #000000;
	line-height: 13px;
	font-family: $Europedemi;
}

.user__content {
	width: 100%;
	float: left;
	position: relative;
	overflow: auto;

	@include tablet {
		float: none;
		width: auto;
		margin-left: 330px;
		vertical-align: top;
	}
}
.user__head {
	width: 100%;
	float: left;

	h1 {
		margin: 20px 0 5px 0;
	}

	@include tablet {
		h1 {
			margin-top: 0;
		}
	}
}
.user__head__post {
	color: #818181;
}
.user__head__online {
	font-size: 12px;
	color: #818181;

	@include desktop {
		position: absolute;
		right: 0;
		top: 5px;
	}
}

.user__info {
	width: 100%;
	float: left;
	margin-bottom: 10px;

	a:before {
		display: none;
	}
}
.user__info__block {
	float: left;
	margin-top: 15px;

	@include tablet {
		min-width: 240px;
		display: inline-block;
		margin-right: 10px;
	}
}
.user__info__block__title {
	color: #818181;
	font-size: 12px;
	line-height: 18px;
}
.user__info__block__value {
	svg {
		max-height: 16px;
		max-width: 18px;
		color: $ColorRed;
		margin-right: 5px;
	}
}

.user__groups {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user__groups__block {
	float: left;
	margin-top: 15px;

	@include tablet {
		min-width: 240px;
		display: inline-block;
		margin-right: 10px;
	}
}
.user__groups__block__title {
	color: #818181;
	font-size: 12px;
	line-height: 18px;
}

.user__context__block {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
}
