.ico-airplane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-gift {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-learning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-light-bulb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-microphone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-rating {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: initial;
}